/* src/App.css */
/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}
.App {
  width: 100%;
}

main {
  min-height: calc(100vh - 160px); /* Adjust based on header/footer height */

}


.header {
  background-color: #24292e;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header nav ul li {
  margin-left: 1rem;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
  width: 300px;
  text-align: center;
  transition: box-shadow 0.3s;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.price-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.buy-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.buy-btn:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #24292e;
  color: white;
  text-align: center;
  padding: 1rem;
}
